@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v1/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

* {
    background-color: aliceblue;
    font-family: 'Space Mono';
    box-sizing: border-box;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: flex-start;
}

.right {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.icon {
    width: 70%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 33.7015rem;
    height: 27.96413rem;
    flex-shrink: 0;
}

.topleft {
    font-size: 24px;
    position: relative;
    left: 10%;
    font-weight: bold;
}
.back {
    width: 13.5rem;
    height: 4.25rem;
    flex-shrink: 0;
    background-color: black;
    color: aliceblue;
    background: var(--gray-1, #333);
}

.subtitle {
    position: relative;
    top: 10%;
    margin-bottom: 0px;
    bottom: 0%;
    display: flex;
    width: 23.8125rem;
    flex-direction: column;
    flex-shrink: 0;
}
.back, .title, .subtitle {
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: 35%;
}

.title {
    display: flex;
    width: 36.625rem;
    flex-direction: column;
    flex-shrink: 0;
}

.footer {
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    vertical-align: middle;
}