@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v1/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  
* {
    background-color: aliceblue;
    font-family: 'Space Mono';
    box-sizing: border-box;
    padding: 0;
  }
  
.break {
  border: 9px solid black;
}
.hero-container {
    display: flex;
    flex-wrap: wrap;
  }

.left {
    display: flex;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
  }

.topleft {
  justify-self: baseline;
  align-self: baseline;
  margin-left: 5rem;
  font-weight: 700;
}

.icon {
  width: 40rem;
  align-self: center;
  margin: auto;
  margin-top: 20rem;
  position: absolute;
  left: 50px;
} 

.right {
  margin-top: 30rem;
  display: flex;
  width: 40%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  }

.back {
  background-color: black;
  color: white;
  padding: 1rem;
  border: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.footer-text {
  margin-bottom: 0px;
}