@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v1/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  
  * {
    background-color: aliceblue;
    font-family: 'Space Mono';
    box-sizing: border-box;
    padding: 0;
  }
  
.container {
  display: flex;
}

.icon {

  margin: 0 auto;
  display: block;
  width: 50%;
  height: 50%;
}