body {
    background-color: bisque;
}

h1, h2, p {
    text-align: center;
}

.menu {
    text-align: center;
    width: 80%;
    background-color: burlywood;
    margin: auto;
}

.item p {
    display: inline-block;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}
